.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    padding: 30px 40px;
    backdrop-filter: blur(30px);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.wrapper .input-box input::placeholder {
    color: #ffffff;
}

.wrapper .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px 0;
}

.wrapper .remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 4px;
}

.wrapper .remember-forgot a {
    color: #ffffff;
    text-decoration: none;
}

.wrapper .remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper button,
.wrapper .move {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin: 10px 0;
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper .register-link p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-link p a:hover {
    text-decoration: underline;
}

.wrapper .option .activity-option {
    margin: 10px 0;
}

.input-box input,
.activity-option input,
.geography-option input {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: .5em;
    width: 1.25em;
    height: 1.25em;
}

select {
    appearance: none;
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 28px;
    color: #ffffff;
    margin: 10px 0;
    text-align: center;
}

.nav-link {
    margin-right: 4em;
    text-decoration: none; 
    color: #ffffff;
}

.nav-link:hover {
    text-decoration: underline;
}

.email-link {
    color: white;
}

.email-link:hover {
    color: lightgray;
}

button:disabled {
    background-color: #ccc; 
    opacity: 50%;
    cursor: not-allowed; 
}

.email-prompt {
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}

.error {
    text-align: center;
    color: #ffd600;
}

.home,
.about {
    width: 50vw;
    font-size: 20px;
}
