
.itinerary-header, .itinerary-wrapper {
    color: white;
    text-align: center;
    font-size: 28px;
}

.trip-header .state-geography {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}

.trip-header, .itinerary-header {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(30px);
}

.itinerary-header {
    margin-top: 5em;
    margin-bottom: 2em;
}

.itinerary-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 70vw;
}

.itinerary-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.itinerary-container {
    flex: 1 calc(50% - 20px);
    box-sizing: border-box;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px 0;
    backdrop-filter: blur(30px);
}

.itinerary-container p {
    margin-bottom: 2em;
}

.itinerary-container h2 {
    margin-bottom: .5em;
}

.itinerary-container h3 {
    margin-bottom: .2em;
}

.itinerary-container h3 u {
    text-decoration-thickness: 3px;
}

.itinerary-container a {
    color: white;
    text-decoration: none;
}

.itinerary-container .activity-info {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    font-size: 20px;
    right: 3%;
    margin-top: .3em;
}

.itinerary-container a:hover {
    color: #cdb633;
    text-decoration: none;
}

.trip-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin: 0;
    width: 100%;
}

.trip-header button {
    background-color: #007d00;
    color: white;
    border: 2px solid rgba(0, 0, 0, .5);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
}

.trip-header button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}